<!DOCTYPE html>
<html ng-app="signzyApp">
<head>
  <title>Signzy-2</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit-icons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.js"></script>
  <script src="app.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/css/uikit.min.css" />
  <link rel="stylesheet" href="style.css" />

</head>
<body>
  <h1 class="uk-heading-primary uk-heading-line uk-text-center"><span>Signzy</span></h1>
  <section class="video_panel">
    <a ng-repeat="" class="uk-link-reset">
    <section class="uk-flex-inline uk-flex-center uk-flex-wrap uk-flex-wrap-around">
      <section class="uk-card uk-card-default uk-card-body uk-card-large" ng-repeat="">
        <h3 class="uk-card-title">something</h3>
      </section>
    </section>
  </a>
</section>
</body>
</html>
